[Unit]
Description=inotify 2 torrent tracker announce watchdog

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/lan_server
ExecStart=/usr/local/bin/inotify2announce.sh $WATCHDIR $TORRENT_ROOT $WEB_ROOT $TRACKER_URL $USER $PASSWORD
ExecReload=/bin/kill -SIGHUP ${MAINPID}

[Install]
WantedBy=network-online.target
Requires=opentracker-ipv4.service
Requires=transmission-daemon.service
